@import "../Vars.css";


.card {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    padding: 10px;
    /* grid-template-rows: 50% 20 30%; */
}


.card__thumbnail {
    width: 100%;
    height: 170px;

    border-radius: 15px 15px 0px 0px;
    overflow: hidden;
}

.card__thumbnail img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.card__title {
    text-transform: uppercase;
    margin-top: 20px;
    margin-bottom: 8px;
    font-size: 1.5em;
    line-height: 1.1;
}

.card__title a{
    color: var(--gray-dark-color);
    text-decoration: none;
}

.card__description {
    color: var(--gray-dark-color);
    font-weight: 300;
}