.container-home {
    width: 90%;
    margin: auto;
    margin-top: 20px;
    min-height: 500px;
    /* border: 1px solid yellow; */
}

.describing-myself{
    width: 60%;
    margin: 0 auto;
    margin-bottom: 25px;
    padding: 15px 28px;
    display: flex;
    /* border: 1px solid red; */
}



.describing-myself__info h1 {
    font-size: 2.44444em;
    margin-bottom: 20px;
    color: var(--gray-dark-color)
}

.info-channel{
    font-size: 18px;
    /* max-width: 70%; */
    line-height: 1.5;
}

.describing-myself__image {
    max-width: 170px;
    max-height: 170px;
    min-width: 160px;
    min-height: 160px;
    margin-right: 40px;
}

.describing-myself__image img {
    width: 100%;
    border-radius: 50%;
    object-fit: cover;
}

.item-news__img {
    width: 90%;
    /* border: 1px solid blue; */
}

.item-news__img img {
    width: 100%;
    border-radius: 20px;
}

.item-news__content {
    padding-top: 20px;
    padding-left: 20px;
}

.item-news__content  h2 {
    font-size: 2em;
    line-height: 30px;
    margin-bottom: 15px;
}